/* настаиваю чтобы эта пипяка была через псевдоэлемент :) */
.header {
  min-height: 125px;
  display: flex;
  flex-direction: column;
justify-content: space-evenly;
}

.header:after {
  align-self: stretch;
  display: block;
  content: "";
  opacity: 0.7;
  border: 1px solid #545454;
  /* margin тут не часть хедера, а часть контента, сделать padding-top у content или у intro*/
}

@media screen and (max-width: 928px) {
  .header {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 928px) {
  .header {
    padding: 0px;
  }
}
