@media screen and (max-width: 928px) {
  .content {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
