.logo {
  width: 142px;
  height: 34px;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 40px;
}

@media screen and (max-width: 320px) {
  .logo {
    width: 102px;
    height: 24px;
    margin: 28px 0 30px 26px;
  }
}
