/* не выставляй логотипу margin-ы , это же бэм блок, мы блокам только падинги задаем 
в твоем случа лучше сделать для хедера минимальную высоту 125px и выровнять внеутренности через
свойства flex контейнера
*/
.logo {
  width: 142px;
  height: 34px;
  margin: 0;
  /* margin-top: 45px;
  margin-bottom: 40px; */
}

@media screen and (max-width: 928px) {
  .logo {
    padding-left: 26px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    width: 102px;
    height: 24px;
  }
}
