.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_closed {
  display: none;
}

.modal__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
}

.modal__description {
  padding: 34px 36px;
}

.modal__closed-button {
  width: 46px;
  height: 46px;
  position: absolute;
  top: -46px;
  right: -46px;
  cursor: pointer;
  border-style: none;
  background-image: url(../../image/CloseIcon.svg);
  background-size: contain;
  background-color: transparent;
}

.modal__closed-button:hover {
  opacity: 0.6;
}

.modal__title {
  font-weight: bold;
  margin: 0;
  font-size: 24px;
  line-height: 29px;
}

.modal__form {
  margin-top: 54px;
}

.modal__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin-bottom: 24px;
}

.modal__save-button {
  width: 100%;
  height: 50px;
  border: none;
  margin-top: 24px;
  color: #fff;
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.modal__save-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .modal__description {
    padding: 25px 22px;
  }

  .modal__title {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__closed-button {
    width: 26px;
    height: 26px;
    top: -26px;
    right: -26px;
  }
}
